*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.window .images {
  position: relative;
  width: 600px;
  height: 400px;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}

.window .images img {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1.5s;
}

.window .images .enter {
  transform: translateX(100%);
}

.window .images .current {
  transform: translateX(0);
  z-index: 1;
}

.window .images .leave {
  transform: translateX(-100%);
  z-index: 1;
}
